/*
 * @Description: universal stylebook
 * @Version: 1.1.5.20210822
 * @Author: Arvin Zhao
 * @Date: 2021-06-08 15:38:24
 * @Last Editors: Arvin Zhao
 * @LastEditTime: 2021-08-22 08:11:12
 */

/* Inject Tailwind's base styles and any base styles registered by plugins. */
@tailwind base;

/* Inject Tailwind's component classes and any component classes registered by plugins. */
@tailwind components;

/* Inject Tailwind's utility classes and any utility classes registered by plugins. */
@tailwind utilities;

@layer utilities {
    /* Bubble animation. */
    .bubbles li {
        animation: bubble-animation 25s linear infinite;
        @apply absolute list-none h-5 w-5 -bottom-40 bg-gray-50 bg-opacity-20;
    }

    .bubbles li:nth-child(1) {
        @apply left-1/4 h-20 w-20;
    }

    .bubbles li:nth-child(2) {
        left: 10%;
        animation-delay: 2s;
        animation-duration: 12s;
        @apply h-5 w-5;
    }

    .bubbles li:nth-child(3) {
        left: 70%;
        animation-delay: 4s;
        @apply h-5 w-5;
    }

    .bubbles li:nth-child(4) {
        left: 40%;
        animation-duration: 18s;
        @apply h-16 w-16;
    }

    .bubbles li:nth-child(5) {
        left: 65%;
        @apply h-5 w-5;
    }

    .bubbles li:nth-child(6) {
        animation-delay: 3s;
        @apply left-3/4 h-28 w-28;
    }

    .bubbles li:nth-child(7) {
        left: 35%;
        animation-delay: 7s;
        @apply h-36 w-36;
    }

    .bubbles li:nth-child(8) {
        animation-delay: 15s;
        animation-duration: 45s;
        @apply left-2/4 h-6 w-6;
    }

    .bubbles li:nth-child(9) {
        left: 20%;
        animation-delay: 2s;
        animation-duration: 35s;
        @apply h-4 w-4;
    }

    .bubbles li:nth-child(10) {
        left: 85%;
        animation-duration: 11s;
        @apply h-36 w-36;
    }

    @keyframes bubble-animation {
        0% {
            transform: translate3d(0, 0, 0) rotate(0deg); /* Setting rotation is necessary to avoid possible strange performance in Safari. */
            border-radius: 90%;
        }

        100% {
            transform: translate3d(0, -1000px, 0) rotate(720deg);
            @apply opacity-0;
        }
    }

    /* Liquid button. */
    .liquid {
        @apply absolute -top-8 left-0 h-24 w-full bg-purple-600 transition-all duration-300; /* The height, width, and absolution top position depend on the button's width. */
    }

    .liquid::after,
    .liquid::before {
        content: '';
        height: 200%;
        width: 200%;
        transform: translate3d(-50%, -75%, 0);
        @apply absolute top-0 left-2/4;
    }

    .liquid::before {
        border-radius: 45%;
        animation: liquid-button 5s linear infinite;
        @apply bg-purple-300;
    }

    .liquid::after {
        border-radius: 40%;
        animation: liquid-button 10s linear infinite;
        @apply bg-purple-300 bg-opacity-50;
    }

    a:hover .liquid,
    button:hover .liquid {
        @apply bg-purple-800 -top-14; /* The absolution top position depends on the button's width. */
    }

    @keyframes liquid-button {
        0% {
            transform: translate3d(-50%, -75%, 0) rotate(0deg);
        }

        100% {
            transform: translate3d(-50%, -75%, 0) rotate(-360deg);
        }
    }

    /* Marquee feature in the banner. */
    .marquee {
        animation: marquee-animation 7s linear infinite;
    }

    @keyframes marquee-animation {
        0% {
            transform: translate3d(100%, 0, 0);
        }

        100% {
            transform: translate3d(-200%, 0, 0);
        }
    }

    /* Polygon-shaped section. */
    .polygon-section {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }

    /* Ripple animation. */
    .ripple {
        animation: ripple-animation 1s linear infinite;
    }

    @keyframes ripple-animation {
        0% {
            box-shadow:
                0 0 0 0 rgba(139, 92, 246, 0.2),
                0 0 0 0.125rem rgba(139, 92, 246, 0.2),
                0 0 0 0.25rem rgba(139, 92, 246, 0.2),
                0 0 0 0.5rem rgba(139, 92, 246, 0.2);
        }

        100% {
            box-shadow:
                0 0 0 0.125rem rgba(139, 92, 246, 0.2),
                0 0 0 0.25rem rgba(139, 92, 246, 0.2),
                0 0 0 0.5rem rgba(139, 92, 246, 0.2),
                0 0 0 1rem rgba(139, 92, 246, 0);
        }
    }

    /* Wave animation. */
    .waves > use {
        animation: wave-animation 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }

    .waves > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .waves > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .waves > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .waves > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes wave-animation {
        0% {
            transform: translate3d(-90px, 0, 0);
        }

        100% {
            transform: translate3d(85px, 0, 0);
        }
    }
};